apiVersion: apps/v1
kind: Deployment
metadata:
  name: indexer
spec:
  template:
    spec:
      containers:
        - name: indexer
          envFrom:
            - secretRef:
                name: indexer-env
