apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference-api
spec:
  template:
    spec:
      containers:
        - name: inference-api
          envFrom:
            - secretRef:
                name: inference-api-secrets
            - secretRef:
                name: app-secrets