apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  template:
    spec:
      containers:
        - name: web
          env:
            - name: NEXT_PUBLIC_API_BASE_URL
              value: "http://localhost/api" # if use / access via ingress (http://localhost/). "http://localhost:8080" if you port-forward inference-api
