apiVersion: v1
kind: Service
metadata:
  name: inference-api
  labels:
    app: inference-api
spec:
  selector:
    app: inference-api
  ports:
    - name: http
      port: 8080
      targetPort: http
